*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    background-repeat: no-repeat;
}
.image{
    width: 120px;
    height: 50px;
}
.letter{
    font-size: 30px;
    color: white;
}
h6{
    margin-top: 140px;
    margin-left: 150px;
    color: aqua;
}

h1{
    margin-left: 150px;
    position: relative;
}
h4{
    margin-left: 150px;
    position: relative;
    color: aqua;
}
button{
    margin-left: 170px;
    border-radius: 30px;
    border-width: 5px;
    border-color: brown;
    height: 50px;
    width: 120px;
}
button:hover{
    background-color: rgb(31, 206, 191);
}
.profile{
    height: 550px;
    width: 600px;
    position: relative;
}